[Unit]
Description=Control of nvidia GPUs fans

[Service]
User=root

ExecStart=/usr/local/sbin/nvmlfan --config /usr/local/etc/nvmlfan.yaml
ExecStopPost=/usr/local/sbin/nvmlfan --restore

[Install]
WantedBy=multi-user.target